@model IEnumerable<Curriculum>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="../css/curri-listing.css">

</head>

<body>

    <div class="curri-details">
        <div class="navbar">
            <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
            <ul>
                <li><a asp-controller="ADMIN" asp-action="Dashboard">Home</a></li>
            </ul>
        </div>
        <div class="content">
            <b>
                <h1>Learning Materials Management</h1>
                <p>Curriculum Listing</p>
            </b>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Curriculum Code</th>
                    <th>Name En</th>
                    <th>Name Vn</th>
                    <th>Description</th>
                    <th>DecisionNo MM/dd/yyyy</th>
                    <th>Total Credit</th>
                </tr>
            </thead>
            @foreach(var item in Model){
                
             <tr>
                <td>@item.CurriculumCode</td>
                <td>@item.NameEn</td>
                <td>@item.NameVn</td>
                <td>@item.Decription</td>
                <td>@item.DecisionNo</td>
                <td>@item.TotalCredit</td>
            </tr>
            }
        </table>
    </div>
    </div>

</body>

