@model LMMProject.Models.Curriculum

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Curriculum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurriculumCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurriculumCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameVn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameVn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decision.DecisionNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CurriculumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
